# dependencies
/node_modules
package-lock.json

# next.js
/.next/
/out/

# production
/build

# typescript
*.tsbuildinfo
next-env.d.ts

# env files (can opt-in for committing if needed)
.env*

# Public directory
/public