@import "tailwindcss";

@layer base {
	::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}
	::-webkit-scrollbar-track {
		background: transparent;
	}
	::-webkit-scrollbar-thumb {
		background: rgba(250, 250, 250, 0.1);
		border-radius: 9999px;
		border: 2px solid transparent;
		background-clip: content-box;
	}
	::-webkit-scrollbar-thumb:hover {
		background: rgba(250, 250, 250, 0.2);
		border: 2px solid transparent;
		background-clip: content-box;
	}

	* {
		scrollbar-width: thin;
		scrollbar-color: rgba(250, 250, 250, 0.1) transparent;
	}
}
